<html>
<head>

</head>
<body>
<form method="post">
    <fieldset>
        <legend>Add Employee</legend>
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="empName"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="text" name="empPhone"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="empAddress"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="empGender">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>
                    <select name="empDesignation">
                        <option>Intern</option>
                        <option>Software Engineer</option>
                        <option>Project Manager</option>
                        <option>Director</option>
                        <option>CEO</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Add Employee"></td>
            </tr>
        </table>
    </fieldset>
</form>
<a href="/logout">Logout</a>
</body>
</html>
